@media (max-width: 768px) {
    .content {
        display: flex;
        flex-direction: column; /* Empile le texte et l'image en colonne */
        overflow-y: auto; /* Active le défilement vertical */
        scrollbar-width: none; /* Cache la barre de défilement pour Firefox */
        -ms-overflow-style: none; /* Cache la barre de défilement pour IE et Edge */
        width: 100%;
        height: 100%;
        padding-right: 3.2rem;
        padding-left: 3.2rem;
        padding-top: 2.4rem;
        padding-bottom: 2.4rem;
    }

    .content::-webkit-scrollbar {
        display: none; /* Cache la barre de défilement pour Chrome, Safari et Opera */
    }

    .text-block, .image-block {
        width: 100%; /* Chaque bloc prend toute la largeur */
        flex-shrink: 0; /* Empêche les blocs de se redimensionner */
    }

    .about-image {
        width: 100%;
        height: auto;
        object-fit: cover; /* Ajuste l'image à la largeur de l'écran sans distorsion */
        padding-top: 1rem;
    }

    .page-wrapper {
        display: block;
        height: auto; /* Permet à la hauteur de s'ajuster au contenu */
        overflow-y: scroll; /* Active le défilement */
        scrollbar-width: none; /* Cache la barre de défilement pour Firefox */
    }

    .page-wrapper::-webkit-scrollbar {
        display: none; /* Cache la barre de défilement pour Chrome, Safari, et Opera */
    }

    .logo {
        position: relative; /* Permet au logo de suivre le flux de la page */
        display: flex;
        justify-content: center;
        padding-top: 4rem;
    }
}

.instagram-image {
    width: 1.5rem;
}
