/* ---- Fonts ---- */

@font-face {
    font-family: Edensor;
    src:url("/fonts/Edensor.otf");
}
@font-face {
    font-family: Avenir-UltraLight;
    src:url("/fonts/CooperHewitt-Thin.ttf");
}

/* ---- Global ---- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDE7DB;
}

.page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center; /* Centre verticalement le contenu */
    height: 100%; /* Prend toute la hauteur de la fenêtre */
    width: 100%; /* Prend toute la hauteur de la fenêtre */
    position: relative;
}

/* ---- Main ---- */

.main-title {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centre horizontalement et verticalement */
    text-align: center;
}

.main-title p {
    font-family: Edensor;
    font-size: 4rem;
    color: black;
}

.main-title img {
    width: 3rem;
}

/* ---- Menu ---- */

.menu {
    position: fixed;
    bottom: 3rem;
    left: 3rem;
}

.menu ul {
    list-style-type: none;
}

.menu li {
    margin-top: 10px;
}

.menu a {
    text-decoration: none;
    font-family: Avenir-UltraLight;
    font-size: 1rem;
    color: black;
}

.menu a:hover {
    color: gray;
}

/* ---- Logo ---- */

.logo {
  position: fixed;
  bottom: 3.4rem;
  left: 50%;
  transform: translate(-50%, 0%);
}

.logo-image {
  width: 2rem;
}

/* ---- Contenu principal ---- */

.content {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 57%;
    height: 55%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.text-block {
    width: 45%;
    text-align: right;
    font-family: Avenir-UltraLight;
    font-size: 0.9rem;
    color: black;
    line-height: 1.4;
    padding-left: 8%;
    padding-right: 4%;
}

.image-block {
    width: 45%;
    height: 100%;
    overflow: hidden;
}

.about-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ---- Animations ---- */

@keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.main-animation-1 {
    animation: fade-out 1s ease;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.main-animation-2 {
    opacity: 0;
    animation: fade-out 1s ease;
    animation-delay: 2s;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}

.main-animation-3 {
    opacity: 0;
    animation: fade-out 1s ease;
    animation-delay: 3s;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}
