/* ---- Fonts ---- */

@font-face {
    font-family: Edensor;
    src:url("/fonts/Edensor.otf");
}
@font-face {
    font-family: Avenir-UltraLight;
    src:url("/fonts/CooperHewitt-Thin.ttf");
}

/* ---- Global ---- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDE7DB;
}

.page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center; /* Centre verticalement le contenu */
    height: 100%; /* Prend toute la hauteur de la fenêtre */
    width: 100%; /* Prend toute la hauteur de la fenêtre */
    position: relative;
}

/* ---- Main ---- */

.main-title {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centre horizontalement et verticalement */
    text-align: center;
}

.main-title p {
    font-family: Edensor;
    font-size: 4rem;
    color: black;
}

.main-title img {
    width: 3rem;
}

/* ---- Menu ---- */

@media (min-width: 769px) {
  .menu {
      position: fixed;
      bottom: 3rem;
      left: 3rem;
  }

  .menu ul {
      list-style-type: none;
  }

  .menu li {
      margin-top: 10px;
  }

  .menu a {
      text-decoration: none;
      font-family: Avenir-UltraLight;
      font-size: 1rem;
      color: black;
  }

  .menu a:hover {
      color: gray;
  }
}

/* ---- Menu burger pour petits écrans ---- */

.menu-burger {
    display: none;
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 2rem;
    cursor: pointer;
    z-index: 5;
}

@media (max-width: 768px) {
    .menu-burger {
        display: block; /* Affiche l'icône burger */
    }

    .menu {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 250px;
        height: 100vh;
        background-color: rgba(237, 231, 219, 0.95); /* Couleur de fond légèrement transparente */
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2); /* Ombre pour le côté gauche */
        padding-top: 2rem;
        transform: translateX(100%); /* Positionne le menu en dehors de l'écran */
        transition: transform 0.3s ease; /* Animation de glissement */
        z-index: 4;
    }

    .menu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .menu li {
        margin: 1.5rem 0;
    }

    .menu a {
        text-decoration: none;
        font-family: Avenir-UltraLight;
        font-size: 1.2rem;
        color: black;
    }

    .menu a:hover {
        color: gray;
    }

    /* Classe pour afficher le menu latéral */
    .menu.open {
        display: block;
        transform: translateX(0); /* Fait glisser le menu sur l'écran */
    }
}


/* ---- Logo ---- */

.logo {
  position: fixed;
  bottom: 3.4rem;
  left: 50%;
  transform: translate(-50%, 0%);
}

.logo-image {
  width: 2rem;
}

/* ---- Contenu principal ---- */

.content {
    margin: auto;
}

.text-block {
    font-size: 0.9rem;
    color: black;
    line-height: 1.4;
}

@media (min-width: 769px) {
    .content {
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 57%;
        height: 55%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0 auto;
    }

    .text-block {
        width: 45%;
        text-align: right;
        font-family: Avenir-UltraLight;
        font-size: 0.9rem;
        color: black;
        line-height: 1.4;
        padding-left: 8%;
        padding-right: 4%;
        overflow-y: auto; /* Active le défilement vertical */
        max-height: 100%; /* Limite la hauteur à la taille de la fenêtre */
    }

    .image-block {
        width: 45%;
        height: 100%;
        overflow: hidden;
    }

    .about-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width: 768px) {
    .content {
        display: flex;
        flex-direction: column; /* Empile le texte et l'image en colonne */
        overflow-y: auto; /* Active le défilement vertical */
        scrollbar-width: none; /* Cache la barre de défilement pour Firefox */
        -ms-overflow-style: none; /* Cache la barre de défilement pour IE et Edge */
        width: 60%;
        height: 80%;
        padding-top: 10%;
        padding-bottom: 35%;
    }

    .content::-webkit-scrollbar {
        display: none; /* Cache la barre de défilement pour Chrome, Safari et Opera */
    }

    .text-block, .image-block {
        width: 100%; /* Chaque bloc prend toute la largeur */
        flex-shrink: 0; /* Empêche les blocs de se redimensionner */
    }

    .about-image {
        width: 100%;
        height: auto;
        object-fit: cover; /* Ajuste l'image à la largeur de l'écran sans distorsion */
        padding-top: 5%;
    }
}

/* ---- Projects Scroll View ---- */

.projects-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    position: relative;
    /* Cacher la barre de scroll */
    scrollbar-width: none; /* Pour Firefox */
    -ms-overflow-style: none; /* Pour Internet Explorer et Edge */
}

.projects-container::-webkit-scrollbar {
    display: none; /* Pour Chrome, Safari et Opera */
}

.project {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
    position: relative;
    overflow: hidden;
    clip-path: inset(0);
}

.project-title {
    font-family: Edensor;
    font-size: 2.6rem;
    color: black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

/* ---- Images des projets ---- */
.project-image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

/* ---- Animations ---- */

@keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.main-animation-1 {
    animation: fade-out 1s ease;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.main-animation-2 {
    opacity: 0;
    animation: fade-out 1s ease;
    animation-delay: 2s;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}

.main-animation-3 {
    opacity: 0;
    animation: fade-out 1s ease;
    animation-delay: 3s;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}
