/* ---- Fonts ---- */

@font-face {
    font-family: Edensor;
    src:url("/fonts/Edensor.otf");
}
@font-face {
    font-family: Avenir-UltraLight;
    src:url("/fonts/AvenirNextCondensed-UltraLight.ttf");
}
@font-face {
    font-family: Avenir-Regular;
    src:url("/fonts/AvenirNextCondensed-Regular.ttf");
}
@font-face {
    font-family: Avenir-Medium;
    src:url("/fonts/AvenirNextCondensed-Medium.ttf");
}

/* ---- Global ---- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDE7DB;
}

a {
    color: black;
}

.page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center; /* Centre verticalement le contenu */
    height: 100%; /* Prend toute la hauteur de la fenêtre */
    width: 100%; /* Prend toute la hauteur de la fenêtre */
    position: relative;
}

.content {
    margin: auto;
}

.text-block {
    font-family: Avenir-UltraLight;
    font-size: 1rem;
    color: black;
    line-height: 1.4;
}

.text-block h1 {
    font-family: Avenir-Medium;
    font-size: 1rem;
    color: black;
    line-height: 1.4;
}

.text-block b {
    font-family: Avenir-Regular;
    font-size: 1rem;
    color: black;
    line-height: 1.4;
}

@media (min-width: 769px) {
    .content {
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        top: 0%;
        bottom: 0%;
    }

    .text-block {
        width: 46%;
        text-align: right;
        padding-left: 15%;
        padding-bottom: 3.3rem;
        overflow-y: auto; /* Active le défilement vertical */
        max-height: 100%; /* Limite la hauteur à la taille de la fenêtre */
    }

    .image-block {
        width: 46%;
        height: 100%;
        overflow: hidden;
    }

    .about-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* ---- Menu ---- */

@media (min-width: 769px) {
  .menu {
      position: fixed;
      bottom: 3rem;
      left: 3rem;
  }

  .menu ul {
      list-style-type: none;
  }

  .menu li {
      margin-top: 10px;
  }

  .menu a {
      text-decoration: none;
      font-family: Avenir-Regular;
      font-size: 1.3rem;
      line-height: 1.6;
      color: black;
  }

  .menu a:hover {
      color: gray;
  }
}

/* ---- Menu burger pour petits écrans ---- */

.menu-burger {
    display: none;
    position: fixed;
    top: 3rem;
    right: 1.6rem;
    width: 1.2rem;
    height: 2rem;
    cursor: pointer;
    z-index: 5;
}

.menu-burger span {
    display: block;
    position: absolute;
    width: 100%;
    height: 0.2rem;
    background-color: black;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-burger span:nth-child(2) {
    top: 0.4rem;
}

.menu-burger span:nth-child(3) {
    top: 0.8rem;
}

.menu-burger.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 0.4rem;
}

.menu-burger.open span:nth-child(2) {
    opacity: 0;
}

.menu-burger.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 0.4rem;
}

@media (max-width: 768px) {
    .menu-burger {
        display: block; /* Affiche l'icône burger */
    }

    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(237, 231, 219, 0.95); /* Couleur de fond légèrement transparente */
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2); /* Ombre pour le côté gauche */
        padding-top: 4rem;
        transform: translateX(100%); /* Positionne le menu en dehors de l'écran */
        transition: transform 0.3s ease; /* Animation de glissement */
        z-index: 4;
    }

    .menu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .menu li {
        margin: 1.5rem 0;
    }

    .menu a {
        text-decoration: none;
        font-family: Avenir-UltraLight;
        font-size: 1.5rem;
        color: black;
    }

    .menu a:hover {
        color: gray;
    }

    /* Classe pour afficher le menu latéral */
    .menu.open {
        transform: translateX(0); /* Fait glisser le menu sur l'écran */
    }
}

/* ---- Logo ---- */

.logo {
  position: fixed;
  bottom: 4.6rem;
  left: 50%;
  transform: translate(-50%, 0%);
}

.logo-image {
  width: 2rem;
}
