/* ---- Projects Scroll View ---- */

.projects-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    position: relative;
    /* Cacher la barre de scroll */
    scrollbar-width: none; /* Pour Firefox */
    -ms-overflow-style: none; /* Pour Internet Explorer et Edge */
}

.projects-container::-webkit-scrollbar {
    display: none; /* Pour Chrome, Safari et Opera */
}

.project {
    display: block;
    text-decoration: none;
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
    position: relative;
    overflow: hidden;
    clip-path: inset(0);
}

.project-title {
    font-family: Edensor;
    font-size: 3rem;
    color: black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    pointer-events: none;
}

/* ---- Images des projets ---- */

.project-image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 768px) {
    .project-title {
        font-size: 2rem;
    }
}
