/* Images du slider */
.slider-image {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.mobile-container {
    display: none;
}

/* Conteneur principal du slider */

.project-title-top-right {
    position: fixed;
    top: 3rem;
    right: 3rem;
    font-family: Edensor;
    font-size: 1.5rem;
    color: black;
    text-transform: uppercase;
    z-index: 10;
}

.project-slider {
    position: relative;
    width: 45%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Wrapper des images */
.slider-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Flèches de navigation */
.slider-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none; /* Pour ne pas perturber les clics sur les images */
}

.slider-arrow {
    pointer-events: auto;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
    cursor: pointer;
}

/* Lightbox overlay */
.lightbox {
    display: none; /* Masqué par défaut */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Overlay sombre */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Contenu du lightbox centré */
.lightbox-content {
    position: relative;
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Image du lightbox ajustée */
.lightbox-image {
    width: auto;
    height: auto;
    max-width: 80%;
    max-height: 100%;
    object-fit: contain; /* Garde l'image entière sans rognage */
    display: block;
}

/* Bouton pour fermer le lightbox */
.close-lightbox {
    position: absolute;
    top: 0rem;
    right: 1rem;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

/* Flèches de navigation dans le lightbox */
.lightbox-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.lightbox-controls .slider-arrow {
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.5);
    padding: 1rem;
    cursor: pointer;
}

@media (min-width: 769px) {
    .project-page .page-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        height: 100%;
        top: 0%;
        bottom: 0%;
        overflow: hidden;
    }

    /* Images du slider */
    .slider-image {
        display: none;
        height: 100%;
        position: absolute;
        cursor: pointer;
    }

    /* Image active */
    .slider-image.active {
        display: block;
    }

    .image-block {
       display: none;
    }
}

@media (max-width: 768px) {
    .project-title-top-right {
        display: none
    }

    .lightbox {
        display: none
    }

    .project-slider {
        display: none
    }

    .content {
        display: flex;
        flex-direction: column; /* Empile le texte et l'image en colonne */
        overflow-y: auto; /* Active le défilement vertical */
        scrollbar-width: none; /* Cache la barre de défilement pour Firefox */
        -ms-overflow-style: none; /* Cache la barre de défilement pour IE et Edge */
        width: 100%;
        height: 100%;
        padding-right: 3rem;
        padding-left: 3rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .content::-webkit-scrollbar {
        display: none; /* Cache la barre de défilement pour Chrome, Safari et Opera */
    }

    .text-block, .image-block {
        width: 100%; /* Chaque bloc prend toute la largeur */
        flex-shrink: 0; /* Empêche les blocs de se redimensionner */
    }

    .slider-image {
        display: block;
    }

    .slider-image {
        width: 100%;
        height: auto;
        object-fit: cover; /* Ajuste l'image à la largeur de l'écran sans distorsion */
        padding-top: 1rem;
    }

    .page-wrapper {
        display: block;
        height: auto; /* Permet à la hauteur de s'ajuster au contenu */
        overflow-y: scroll; /* Active le défilement */
        scrollbar-width: none; /* Cache la barre de défilement pour Firefox */
    }

    .page-wrapper::-webkit-scrollbar {
        display: none; /* Cache la barre de défilement pour Chrome, Safari, et Opera */
    }

    .logo {
        position: relative; /* Permet au logo de suivre le flux de la page */
        display: flex;
        justify-content: center;
        padding-top: 4rem;
    }
}
