.project-page .page-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
    overflow: hidden;
}

/* ---- Description à gauche ---- */
.project-description {
    width: 45%;
    padding: 2rem;
    font-family: Avenir-UltraLight;
    font-size: 1rem;
    color: black;
    line-height: 1.5;
    overflow-y: auto;
}

/* ---- Galerie de photos scrollable à droite ---- */
.project-gallery {
    width: 50%;
    right: 0%;
    height: 100%;
    overflow-y: scroll;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    scrollbar-width: none;
}

.project-gallery::-webkit-scrollbar {
    display: none;
}

.project-gallery img {
    width: 90%;
    margin-bottom: 1.5rem;
    object-fit: cover;
    border-radius: 8px;
}

.content {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 57%;
    height: 55%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.text-block {
    width: 45%;
    text-align: right;
    padding-left: 8%;
    padding-right: 4%;
    overflow-y: auto; /* Active le défilement vertical */
    max-height: 100%; /* Limite la hauteur à la taille de la fenêtre */
}
